/* -------------------------------------------------------------
This file is part of FreeDESK

FreeDESK is (C) Copyright 2012 David Cutting

FreeDESK is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

FreeDESK is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with FreeDESK.  If not, see www.gnu.org/licenses

For more information see www.purplepixie.org/freedesk/
-------------------------------------------------------------- */

body
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12pt;
	background-color: white;
}

div.pageframe
{
	width: 100%;
	margin: 2em auto 0;
	padding: 0;
	margin-top: 0;
	background: #fff;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
}

div.header
{
	background: black;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-topright: 1em;
	-webkit-border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 0.3em;
	padding-left: 1.0em;
}

div.content
{
	padding: 1em;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

div.footer
{
	background: black;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	padding: 0.5em;
	color: white;
}

div.footer a
{
	color: white;
}

div.screen_backdrop
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: white;
	z-index: 100;
}

div.login_form
{
	display: none;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	margin-top: 4em;
	margin-bottom: 3em;
	background-color: white;
	opacity: 1;
	z-index: 110;
}

div.login_header
{
	background-color: black;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-topright: 1em;
	-webkit-border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 0.5em;
	color: white;
	font-weight: bold;
}

div.login_content
{
	padding: 1em;
	border-left: 2px solid black;
	border-right: 2px solid black;
	clear: both;
}

div.login_footer
{
	background-color: black;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	padding: 0.5em;
	
}

div.login_title
{
	width: 40%;
	float: left;
	/* text-align: right;
	padding-right: 2em; */
	clear: both;
}

div.login_field
{
	width: 58%;
	float: left;
}

div.login_button
{
	text-align: center;
}

div.error
{
	color: red;
	font-weight: bold;
}

div#spacer
{
	height: 2em;
}

