/* -------------------------------------------------------------
This file is part of FreeDESK

FreeDESK is (C) Copyright 2012 David Cutting

FreeDESK is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

FreeDESK is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with FreeDESK.  If not, see www.gnu.org/licenses

For more information see www.purplepixie.org/freedesk/
-------------------------------------------------------------- */

/* Body of the document - default for everything */
body
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12pt;
	background-color: white;
}

/* The main frame holding all page content on standard pages */
div.pageframe
{
	width: 100%;
	margin: 2em auto 0;
	padding: 0;
	margin-top: 0;
	background: #fff;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	border-left: solid 2px black;
	border-right: solid 2px black;
}

/* The header with the logo etc */
div.header
{
	background: black;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-topright: 1em;
	-webkit-border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 0.3em;
	padding-left: 1.0em;
}

/* The content of the standard page */
div.content
{
	padding: 0em 1em 1em 1em;
	margin: 0;
	/*border-left: 2px solid black;
	border-right: 2px solid black;*/
}

/* Standard page footer */
div.footer
{
	background: black;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	padding: 0.5em;
	color: white;
	clear: both;
	margin-top: 1em;
}

/* Link in the footer */
div.footer a
{
	color: white;
}

/* A screen backdrop - obscures everything for popup forms e.g. login form */
div.screen_backdrop
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	background-color: white;
	z-index: 100;
}

/* The login form */
div.login_form
{
	display: none;
	position: absolute;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	top: 2em;
	left: 10em;
	width: 30em;
	margin-top: 4em;
	margin-bottom: 3em;
	background-color: white;
	opacity: 1;
	z-index: 110;
}

/* Header to the login form */
div.login_header
{
	background-color: black;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-topright: 1em;
	-webkit-border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 0.5em;
	color: white;
	font-weight: bold;
}

/* Content of the login form */
div.login_content
{
	padding: 1em;
	border-left: 2px solid black;
	border-right: 2px solid black;
	clear: both;
}

/* Footer of the login form */
div.login_footer
{
	background-color: black;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	padding: 0.5em;
	
}

/* Title of the login form */
div.login_title
{
	width: 40%;
	float: left;
	/* text-align: right;
	padding-right: 2em; */
	clear: both;
}

/* Field description for the login form */
div.login_field
{
	width: 58%;
	float: left;
}

/* Button on the login form */
div.login_button
{
	text-align: center;
}

/* An error message */
div.error
{
	color: red;
	font-weight: bold;
}

/* A whitespace spacer element */
div#spacer
{
	height: 2em;
}

/* The main page element within the system */
div#mainpage
{
	display: block;
	position: relative;
	/* border: solid 1px red; */
	
}

/* A subpage element within the system */
div#subpage
{
	display: none;
}

/* The left column (groups and analysts) of the main page */
div#mainleft
{
	/*
	width: 10em;
	position: absolute;
	top: 0;
	left: 0;
	border-right: solid 1px black;
	padding-right: 0.5em;
	overflow: auto;
	margin-bottom: 1em;
	*/
}

table#maintable
{
	border: none;
}

table#maintable td
{
	text-align: left;
	vertical-align: top;
}

td#mainleft
{
	width: 10em;
	border-right: solid 1px #a0a0a0;
	padding-right: 0.5em;
	margin-right: 0.5em;
}

/* The right hand content column for the main page */
div#mainright
{
	/*
	position: relative;
	top: 0;
	left: 11em;
	*/
	margin-left: 0.5em;
}

td#mainright
{
	margin-left: 0.5em;
}
